/* /* .company-registration-container{

    position: absolute;
width: 1228px;
height: 727px;
left: 115px;
top: 21px;

background: #F2EFEE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
padding: 50px;
align-items: center;
}

/* .companylabel{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 52px;
width: 100px;
/* or 260% */


/* color: #153761;
}



/* .company-registartion-container-part{

     padding: 30px;
     width: 558px;
     float:left

} */

/* .table-container{

    align: center;
}


.table-company-container {
	/* max-width: 1000px; */
	/* margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	/* min-height:100vh; */
    /* padding: 20px;
    margin-left: 40px;
} */ 


/* .company-styled-table th{

     background-color: rgb(68, 52, 33);
}


.company-All-Form{

  background-color: rgb(232, 224, 238);

  margin-top: 50px;
  margin-left: 50px;
  margin-right: 20px;
  height: 1000px;

}
  */
 

  .card{
    padding: 20px;
    padding-left: 200px;
    /* background-color: antiquewhite; */
    background-color: #F2EFEE;
  }

  .container1{

    padding: 30px;
  }

  .add-bottom-buttons{

    padding:20px;
    padding-top: 50px;
  }
    .secondary-butn-previous{
        background-color: rgb(106, 110, 109);
        border-radius: 5px;
        height: 40px;
        width:120px;
        border:none;
        color:beige
        
    }

    .next-btn-add{
        max-width: 150px;
        padding:10px;
        margin-right: 145px;
        margin-top: 10px;
        float: right;
        width:100%
    }

    .main-title{
       
        font-family: 'Ubuntu Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #153761;
        margin-left: 250px;
        padding-bottom: 30px;

    }

 .companylabel{

    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 400; */
    /* font-size: 20px; */
    line-height: 35px;
    /* or 260% */
    
    
    color: #153761;
 }

.create-btn-company-group{
    float:right;
    margin-right:250px ;
}

.create-btn-company{

    padding: 10px;
    width: 100px;
}

.btn-danger-addcompany{

    padding: 10px;
    width: 100px;
}