.company-contact-heading {
  position: absolute;
  width: 603px;
  height: 96px;
  left: 592px;
  top: 226px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 75px;
  /* or 136% */

  color: #333333;
}

.company-contact-header {
  font-style: bold;
  text-align: center;
  font-size: 50px;
}

.contact-company-container {
  margin-top: 251px;
  margin-left: 226px;
  width: 194.84px;
  height: 178.48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-company-container img {
  object-fit: cover;
  height: 400px;
  width: 411px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 20px;
}

.company-contact-card {
  
    position: absolute;


left: 567px;
top: 328px;
position: absolute;
width: 756px;
height: 306px;
right: 109px;
bottom: 360px;

background: #F2EFEE;
box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.comapny-contact-details{

    padding: 70px;
}
